.highlight:hover {
  background-color: white;
  font-size: 36px;
  cursor: pointer;
}
.bigtext {
  font-size:28px;
  text-align: center;
  background-color: #ffbcb8;
  font-family: "Lucida Console", monospace;
  width: 410px;
  height:142px;
}
.sidelines {
  border:10px solid #ffbcb8;
}
.smalltext {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.whitebox {
  padding: 20px;
  background-color: #ffffff;
}
.pinkbox {
  padding: 60px;
  background-color: #ffbcb8;
}
